@media screen and (min-width: 992px) {
    .my_footer{
        width: 100%;
        height:28rem;
    }
}
@media screen and (max-width: 991px) {
    .my_footer {
        width: 100%;
        height: 50rem;
    }
}
header{
    height:62rem;
}
#link{
    float:right;
    padding:15px 80px 0px 0px;
}
#link a{
    text-decoration:none;
    color:#fff;
    font-size:14px;
    padding:20px 10px;
}
.title{
    width:500px;
    height:250px;
    background-image: url("../img/heading.png");
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 150px;
}
#link::after{
    content:"";
    clear:both;
    display:block;
}
#v1 img{
    width:700px;
    height:196px;
    padding:250px 0px 0px 0px;
}
#v1{
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#v1 a{
    width:100%;
}
#v2 a{
    width:100%;
}
a #a2{
    width:72px;
    height:72px;
    padding: 0;
}
video{
    width:auto;
    height:auto;
    min-width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-999;
    margin:0px;

}
.video{
    width:100%;
}
body{
    width:100%;
}
html{
    width:100%;
    height:100%;
    overflow-x:hidden;
}
.down{
    padding: 20rem 0 0 0;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.erweima1{
    position: absolute;
    width:200px;
    height:200px;
    top:6rem;
    left:100rem;
    z-index: 99;
    display: none;
}
.erweima1>img{
    width:200px;
    height:200px;
}
.inner{
    display:flex;
    justify-content: space-around;
    position: relative;
}
.inner>div{
    width:64px;
    height:48px;
    border:1px solid #ddd;
    margin-right: 5rem;
    border-radius: 5px;
}
.text-down{
    color: #fff;
    margin-left: 2.5rem;
}
.rb-img{
    margin-right: 2rem;
}
.rb-imgs{
    margin-top: 7px;
    margin-left:16px;
}
.three img{
    margin:1rem 0rem 0rem 2.5rem;
}
.fa-1-5x{
    font-size: 1.5rem;
}
.down-size{
    width:1.5rem;
    height:1.5rem;
}
.tada:hover{
    animation: jello 0.8s;
}
.keep-c{
    color:#584f60;
}
.my_container{
    width:80rem;
    height:40rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.bg-keep-c{
    width:100%;
    height:40rem;
    background: #3d3744;
}
.img_size{
    width:22.5rem;
    height:13rem;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.no1{
    background-image: url("../img/1478591073270_750x700.jpg");
}
.no2{
    background-image: url("../img/1478588565783_750x700.jpg");
}
.no3{
    background-image: url("../img/1488452269169_750x700.jpg");
}
.my_small{
    font-size: 0.8rem;
}
.img-top{
    top:-2rem;
}
.position-absolute a{
    text-decoration: none;
}
.img-top .img_size:hover{
    transform: scale(1.05,1.05);
    transition: all 1.5s;
}
.rb{
    margin-top:6rem;
}
.i1{
    top: 3rem;
    left: 26rem;
}
.i2{
    top: 20rem;
    left: 26.5rem;
}
.traning_detail{
    top:29rem;
    left:26.8rem;
}
.font-c{
    color: #8e8893;
}
.bl-g{
    border-left: 3px solid #25c085;
    padding-left:1.2rem;
}
.body1{
    width: 12.5rem;
    height: 31rem;
}
.body2{
    width: 21rem;
    height: 7rem;
    top:27rem;
    left: -4rem;
}
@keyframes heart {
    100%{
        transform: scale(2,2);
    }
}
.heart{
    top:6.5rem;
    left:7.1rem;
    animation: heart 0.8s infinite;
    z-index: 1;
}
.body{
    margin-left:45rem;
    margin-top:4rem;
}
.img-r{
    float: right;
    margin-right: 4rem ;
}
.text-r{
    float: right;
    margin-top: 23.5rem;
    margin-right: -13rem;
}
.l-style{
    border-radius:1rem;
    text-decoration: none;
    border: 1px solid #8e8893;
    transition:1s;
}
#c-btn:hover{
    text-decoration: none;
    background: #fff;
    color: #333 !important;
}
.bg-map{
    background-image:url(../img/runbg-48ebfba6ba.jpg);
    background-size: cover;
    width:100%;
    height:40rem;
}
.line-map{
    margin-top: 10rem;
    margin-left: 10rem;
    width:35%;
}
.line-a{
    width:30px;
    height:30px;
    border-radius: 50%;
    background: transparent;
    margin-left: 35.3rem;
    margin-top:-2rem;
    animation: b-a 2s infinite;
}
@keyframes b-a {
    100%{
        transform: scale(2.5,2.5);
        background: rgba(255,255,255,0.2);
    }
}
.text-r1{
    top:5rem;
    left:33rem;
}
.bg-g{
    background: #24c789;
    color:#fff;
    border: none;
}
.bg-g:hover{
    color:#fff;
    background:transparent;
    transition: all 1s;
    border: none;
}
.mt-2-3{
    margin-top:2.3rem;
}
.mar-l-7{
    margin-left: 7.5rem;
}
.s-detail{
    margin-top: 4rem;
    margin-left: 10rem;
}
.font-c1{
    color:#827a89;
}
.run-s{
    width:24rem;
    height:21rem;
    background: #5e5566;
    border-radius: 0.4rem;
    top: -1.5rem;
    left: 53rem;
}
.font-ddd{
    color:#ddd;
}
.progress{
    background: #5e5566;
}
.progress-bar{
    background: rgba(36,199,137,0.3) ;
    border-radius: 0.4rem;
}
.progress{
    height: 1.25rem;
}
.w-64{
    width:64%
}
.w-34{
    width:34%
}
.w-86{
    width:86%
}
.w-43{
    width:43%
}
.run-s1{
    width:24rem;
    height:21rem;
    background-image: url("../img/runcover-84021e09f4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.4rem;
    top:20.5rem;
    left:53rem;
}
.font-g {
    color: #24c789;
}
.bg-img{
    background-image: url("../img/storebg-8918f5df5f.jpg");
    background-size: cover;
    background-position: center;
}
.overflow{
    overflow:hidden;
}
.w-30{
    width:30%;
}
.ml-c{
    margin-left: 9rem;
}
.run-m{
    top:10rem;
    left:26rem;
    width:50%;
}
.g-c{
    border: 3px solid #24c789;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.run-t{
    top:7rem;
    left:56rem;

}
.c-58{
    background: #584f60;
    border: none;
}
.msg{
    width:100%;
    height:38rem;
}
.font-58{
    color: #584f60;
}
.msg-p{
    margin-top: 9rem ;
    margin-left: 5rem ;
}
.tx{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}
.mr-6{
    margin-right: 6rem;
}
.ml-6{
    margin-left: 6rem;
}
.run-detail{
    margin-top: -7rem ;
    margin-left: 37rem ;
}
.content-g{
    height:23rem;
    background-image: url("../img/linkbg-cb03791bf9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.img-p{
    top:-3.05rem;
    left:5rem;
    width:35%;
}
.erweima{
    top:10rem;
    left:42rem;
}
.download{
    top:7rem;
    left:54rem;
}
.text-lh{
    line-height:2;
}
.cramer-p{
    bottom:0rem;
    left:42rem;
    width:18%;
}
.text-camer{
    bottom:9.5rem;
    left:30rem;
}
.img-f{
    width:16.6rem;
    height:14.9rem;
    top:24.5rem;
    left:0.3rem;
}
.img-f2{
    width:16.6rem;
    height:14.9rem;
    top:24.5rem;
    right:0.3rem;
}
.bgc{
    background-color: rgba(0,0,0,0.4);
}
.sh:hover{
    transform:translateY(-3rem);
}
.sh{
    transition:1s;
}
.h-22{
    height:21.3rem;
}
.sh2:hover{
    background-color:#3d3744;
}
.sh2>a{
    color:#fff;
}
.sh2>a:hover{
    text-decoration: none;
    color:#336699;
}
.bg-3d{
    background-color:#3d3744;
}
.h-20{
    height:17rem;
}
.w-20{
    width:20%;
}
.dh{
    left:44.5rem;
}
.dh2{
    left:44.5rem;
}
.fa-1-5x {
    font-size: 1.5em; }
.tx1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.my_container1{
    width:80rem;
    height:25rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@keyframes silde{
    0%{
        display: none;
    }
    100%{
        background-color:transparent;
        width: 100%;
        height:100%;
        padding: 1rem;
        transition: all 1.5s;
    }
}
.bgc-ba:hover{
    animation: silde 1.5s;
    animation-fill-mode: forwards;
}
#c-btn1:hover{
    text-decoration: none;
    background: #fff;
    color: #333 !important;
}
.window-comm{
    width:658px;
    height:264px;
    overflow: hidden;
}
#w-comment{
    position: relative;
    transition: all 1.5s;
}